// compress: false, strictMath: true, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #015697;
@darkblue: #13274F;
@orange: #FFB12A;

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    font-weight: 400;
    font-family: 'Cairo', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}


.page-container {
    min-height: 85vh;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @white;
    border-color: @white transparent @white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.contact-form-loader {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}



/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.img-logo {
    max-width: 350px;
    margin-bottom: 3rem;
    margin-top: -6rem;
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background: @darkblue;
    color: @white;
    padding: .5rem 2rem;

    & h5 {
        font-weight: 300;
        margin: 1rem;
        font-size: 1.2rem;

        & a {
            color: @white;
            font-weight: 600;
        }
    }

    & .footer-right {
        text-align: right;
    }
}

/* --------------------------------------------------------------
3.- LANDING PAGE
-------------------------------------------------------------- */
.the-hero {
    color: @white;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;

    & .hero-limiter {
        padding-top: 5rem;
    }

    & .row-hero {
        & .hero-content-left {
            padding: 3rem 0;

            & h1 {
                font-size: 3.4rem;
                line-height: 4.3rem;
                font-weight: 300;
                text-transform: uppercase;
                padding-right: 8rem;

                & strong {
                    font-weight: 700;
                }
            }

            & .hero-content-info {
                font-size: 1.3rem;
                font-weight: 200;
                line-height: 2.5rem;
                margin-top: 2rem;

                & h3 {
                    font-size: 1.55rem;
                    font-weight: 600;
                    margin-top: 1.5rem;
                }
            }

            & .hero-content-app-logos {
                margin-top: 2rem;

                & .hero-app-link img {
                    max-width: 180px;
                    margin-right: 25px;
                }
            }
        }

        & .hero-content-right {
            & .img-hero {
                margin: 0 auto;
                display: block;
            }
        }
    }
}

/* BENEFITS */
.the-benefits {
    padding: 4rem;

    & .benefits-intro {
        text-align: center;

        & h2 {
            color: @blue;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 2.2rem;

            & strong {
                font-weight: 700;
            }
        }

        & p {
            font-size: 2rem;
            line-height: 2.8rem;
            padding: 0 6rem;
        }
    }

    & .benefits-slider {
        & .img-slider-app {
            max-width: 350px !important;
            display: block !important;
            margin: 2rem auto !important;
        }

        & .owl-dots {
            & .active {
                & span {
                    background: @blue  !important;
                    border: 1px solid @darkblue  !important;
                    box-shadow: inset 0 0 1px white;
                }
            }
        }
    }

    & .benefits-item {
        .display(flex);
        align-items: flex-start;
        justify-content: space-between;
        padding: 2rem 0;

        & .benefits-item-info {
            font-size: 1.3rem;
            line-height: 2.7rem;
        }

        & img {
            max-width: 80px;
            margin-right: 30px;
        }

        & h2 {
            color: @blue;
            font-size: 2.3rem;
            text-transform: uppercase;
            font-weight: 700;

        }
    }
}

/* CONTACT US */
.the-contact {
    background: @blue;
    color: @white;
    padding: 3rem;

    & .contact-left {
        & h2 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.2rem;
        }
    }

    & .contact-form-item {
        padding: 0.5rem !important;

        & .custom-form-control {
            font-size: 1.1rem;
            padding: 0.7rem 1rem;
            height: auto;
            border-radius: 0;
        }

        & .custom-select-control {
            padding: 0.4rem 1rem !important;
        }
    }

    & .contact-form-submit {
        padding: 0.5rem !important;

        & .btn-submit {
            background: @darkblue;
            padding: 0.8rem 5rem;
            font-size: 1.9rem;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: 700;
            border: 0;

            &:hover {
                background: #36C9EF;
            }
        }
    }

    & .contact-form-pre-title {
        font-size: 1.6rem;
        padding: 0 1.5rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    & .contact-email-container {
        font-size: 1.8rem;
        margin: 2rem 0;
        color: @white;

        & a {
            margin-left: 10px;
            font-weight: 300;
            color: @white;

            &:hover {
                color: @darkblue;
            }
        }
    }

    & .custom-danger {
        font-size: 0.9rem;
        margin: 0.3rem 0;
        display: block;
        margin-bottom: 0;
        color: @white;
        font-weight: 700;
    }
}

.contact-form-response {
    padding: 0 .5rem !important;
    font-size: 1.3rem;
    font-weight: 300;
}
