/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {
    .the-hero .row-hero .hero-content-left h1 {
        font-size: 3.2rem;
        padding-right: 7rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

    .the-benefits .benefits-intro h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .the-benefits .benefits-intro p {
        padding: 0 2rem;
    }

    .the-benefits .benefits-item h2 {
        font-size: 1.6rem;
    }

    .the-benefits .benefits-item .benefits-item-info {
        font-size: 1.1rem;
        line-height: 2.2rem;
    }

    .the-contact .contact-left h2 {
        font-size: 1.4rem;
    }

    .the-contact .contact-form-submit .btn-submit {
        padding: 0.8rem 4.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 1600px) {
    .the-hero .row-hero .hero-content-left h1 {
        font-size: 3.2rem;
        padding-right: 4rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 1.2rem;
        line-height: 2.1rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info h3 {
        font-size: 1.35rem;
        margin-top: 1.5rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 1.4rem;
    }
}

@media (max-width: 1440px) {
    .the-hero .row-hero .hero-content-left h1 {
        font-size: 2.8rem;
        padding-right: 4rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info h3 {
        font-size: 1.15rem;
        font-weight: 600;
        margin-top: 1.5rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

    .the-benefits .benefits-intro h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .the-benefits .benefits-intro p {
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    .the-benefits .benefits-item .benefits-item-info {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 1.2rem;
    }

    .img-logo {
        max-width: 350px;
        margin-bottom: 2rem;
        margin-top: -3rem;
    }
}

@media (max-width: 1366px) {
    .the-hero .row-hero .hero-content-left h1 {
        font-size: 2.4rem;
        padding-right: 7rem;
        line-height: 3rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 1rem;
        line-height: 1.9rem;
        margin-top: 1rem;
    }

    .the-benefits .benefits-intro p {
        padding: 0 1rem;
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    .the-benefits .benefits-item h2 {
        font-size: 1.3rem;
    }

    .the-benefits .benefits-item img {
        max-width: 70px;
        margin-right: 25px;
    }

    .the-contact .contact-left h2 {
        font-size: 1.2rem;
    }

    .the-hero .row-hero .hero-content-left h1 {
        font-size: 2.4rem;
        padding-right: 4rem;
        line-height: 3rem;
    }

    .the-hero .hero-limiter {
        padding-top: 1rem;
    }
}

@media (max-width: 1280px) {

    .the-hero .row-hero .hero-content-left h1 {
        font-size: 2.1rem;
        padding-right: 7rem;
        line-height: 2.5rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info h3 {
        font-size: 0.95rem;
        font-weight: 600;
        margin-top: 1.5rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 1.1rem;
        line-height: 1.9rem;
    }

    .the-benefits .benefits-intro h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .the-benefits .benefits-intro p {
        padding: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .the-footer h5 {
        font-weight: 300;
        margin: 0.5rem;
        font-size: 1rem;
    }

    .the-benefits .benefits-item h2 {
        font-size: 1.1rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 0.9rem;
    }

    .the-contact .contact-left h2 {
        font-size: 1rem;
    }

    .the-contact .contact-form-submit .btn-submit {
        font-size: 1.2rem;
    }
}

@media (max-width: 1170px) {
    .img-logo {
        max-width: 250px;
        margin-bottom: 1rem;
        margin-top: -4rem;
    }

    .the-hero .row-hero .hero-content-left h1 {
        font-size: 2.1rem;
        padding-right: 0;
        line-height: 2.5rem;
    }

    .the-benefits .benefits-item .benefits-item-info {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .the-contact .contact-form-item .custom-form-control {
        font-size: 0.9rem;
        padding: 0.6rem 0.8rem;
        height: auto;
        border-radius: 0;
    }
}

@media (max-width: 1024px) {
    .the-hero .row-hero .hero-content-left h1 {
        font-size: 1.4rem;
        padding-right: 5rem;
        line-height: 2.5rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 0.9rem;
        line-height: 1.8rem;
        font-weight: 400;
    }

    .img-logo {
        max-width: 250px;
        margin-bottom: 1rem;
        margin-top: 0rem;
    }

    .the-contact .contact-left h2 {
        font-size: 0.9rem;
    }

    .the-contact .contact-form-submit .btn-submit {
        padding: 0.6rem 4rem;
        font-size: 1.1rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 0.85rem;
    }

    .the-footer h5 {
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .navbar-brand {
        display: block;
        width: 100%;
    }

    .img-logo {
        max-width: 250px;
        margin-bottom: 2rem;
        margin-top: -3rem;
        display: block;
        margin: 1rem auto;
    }

    .hero-content-left {
        text-align: center;
    }

    .the-hero .row-hero .hero-content-left h1 {
        font-size: 2.3rem;
        padding-right: 0;
        line-height: 3.3rem;
        margin-top: 1.5rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 1.2rem;
        line-height: 2.4rem;
        font-weight: 300;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info h3 {
        font-size: 1.45rem;
        font-weight: 600;
        margin-top: 1rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-app-logos {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .the-benefits .benefits-item {
        justify-content: flex-start;
        padding: 2rem 0;
    }

    .the-benefits .benefits-intro h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .the-benefits .benefits-item h2 {
        font-size: 1.5rem;
    }

    .the-benefits .benefits-item .benefits-item-info {
        font-size: 1.1rem;
        line-height: 2.2rem;
    }

    .contact-left {
        text-align: center;
        padding-bottom: 1rem;
    }

    .the-contact .contact-left h2 {
        font-size: 1.8rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 1.55rem;
        text-align: center;
        font-weight: 500;
    }

    .the-footer h5 {
        margin: 0.7rem 0;
        font-size: 1.1rem;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .the-hero .row-hero .hero-content-right .img-hero {
        margin: 0 auto;
        display: block;
        max-width: 360px;
    }

    .the-benefits .benefits-intro p {
        padding: 0;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 1.35rem;
        text-align: center;
        font-weight: 500;
    }
}

@media (max-width: 768px) {}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .the-benefits .benefits-intro h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .the-contact .contact-left h2 {
        font-size: 1.4rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 1.15rem;
        font-weight: 500;
    }

    .the-contact .contact-form-submit .btn-submit {
        padding: 0.8rem 4rem;
        font-size: 1.1rem;
        width: 100%;
    }
}

@media (max-width: 533px) {
    .the-hero .row-hero .hero-content-left h1 {
        font-size: 1.9rem;
        padding-right: 0;
        line-height: 2.7rem;
        margin-top: 1rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 1.1rem;
        line-height: 2.1rem;
        font-weight: 300;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info h3 {
        font-size: 1.35rem;
        font-weight: 600;
        margin-top: 1rem;
        line-height: 2rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-app-logos .hero-app-link img {
        max-width: 150px;
        margin-right: 0;
        margin: 0 0.5rem;
    }

    .the-benefits {
        padding: 3rem 1rem;
    }

    .the-contact {
        padding: 3rem 0;
    }
}

@media (max-width: 414px) {
    .the-hero .row-hero .hero-content-left h1 {
        font-size: 1.7rem;
        padding-right: 0;
        line-height: 2.5rem;
        margin-top: 0.5rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info {
        font-size: 1.1rem;
        line-height: 2.1rem;
        font-weight: 300;
        margin-top: 0;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info h3 {
        font-size: 1.15rem;
        font-weight: 600;
        margin-top: 1rem;
        line-height: 2rem;
    }

    .the-benefits .benefits-intro h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .the-benefits .benefits-item h2 {
        font-size: 1.3rem;
    }

    .the-contact .contact-left h2 {
        font-size: 1.2rem;
    }

    .the-footer h5 {
        margin: 1rem 0;
        font-size: 1.4rem;
        text-align: center;
        line-height: 2rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 1.05rem;
        font-weight: 600;
    }

    .the-hero .row-hero .hero-content-right .img-hero {
        margin: 0 auto;
        display: block;
        max-width: 249px;
    }
}

@media (max-width: 375px) {
    .the-hero .row-hero .hero-content-left h1 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-info h3 {
        font-size: 1.05rem;
        line-height: 2rem;
    }

    .the-hero .row-hero .hero-content-left .hero-content-app-logos .hero-app-link img {
        max-width: 120px;
        margin-right: 0;
        margin: 0 0.5rem;
    }


}

@media (max-width: 360px) {
    .the-benefits .benefits-intro h2 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .the-benefits .benefits-intro p {
        padding: 0;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .the-benefits .benefits-item {
        justify-content: flex-start;
        padding: 1rem 0;
    }

    .the-benefits .benefits-item .benefits-item-info {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .the-footer h5 {
        margin: 1rem 0;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .the-contact .contact-form-pre-title {
        font-size: 0.95rem;
        font-weight: 600;
    }
}

@media (max-width: 320px) {}

@media (max-width: 240px) {}
